name: Main CI/CD

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - main

env:
  IMAGE_NAME: tbo-app

jobs:
  tests:
    name: Unit tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Run unit tests
        run: pytest

  build:
    name: Build & Push Docker image
    runs-on: ubuntu-latest
    needs: tests
    if: github.event_name == 'push'

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          if [[ "${GITHUB_REF}" == "refs/heads/main" ]]; then
            TAG=latest
          else
            TAG=beta
          fi

          docker build -t $IMAGE_NAME:$TAG .
          docker tag $IMAGE_NAME:$TAG ${{ secrets.DOCKERHUB_USER }}/$IMAGE_NAME:$TAG
          docker push ${{ secrets.DOCKERHUB_USER }}/$IMAGE_NAME:$TAG
